 * {
     font-family: "Montserrat", sans-serif;
 }

 body {
     background-color: #111311;
     color: white;
     padding: 20px;
 }

/* Formulario */
.zapato-form {
    margin-bottom: 1.5rem;
  }

.zapato-form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .zapato-form .flex label {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
  }

 /*Área Responsive*/
 .container {
     max-width: 800px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .top-bar {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-bottom: 30px;
     width: 100%;
 }

 .top-bar button{
    height: auto;
 }

 .table-container {
     background-color: white;
     border-radius: 5px;
     overflow-x: auto;
     width: 100%;
     border: 3px solid #3D9DF3;
 }

 @media (max-width: 600px) {
     .search-box {
         width: 100%;
     }

     .top-bar {
         flex-direction: column;
     }

     button,
     .search-btn {
         width: 100%;
     }
 }


 h1 {
     margin-bottom: 20px;
 }

 .top-bar {
     display: flex;
     align-items: center;
     gap: 10px;
     margin-bottom: 30px;
 }

 button {
     border: none;
     padding: 10px 20px;
     color: white;
     font-weight: bold;
     border-radius: 5px;
     cursor: pointer;
     justify-content: space-around;

 }

 .add-btn {
     background-color: #6b321d;

     color: white;

     border: none;

     width: 100px;
     height: 40px;

     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

     display: flex;

     justify-content: center;

     align-items: center;

     z-index: 1001;
     /*Para que el botón siempre quede encima de todo*/

 }

 .update-btn {
     background-color: #9d752c;

     color: white;

     border: none;

     width: 100px;
     height: 40px;

     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

     display: flex;

     justify-content: center;

     align-items: center;

     z-index: 1001;
     /*Para que el botón siempre quede encima de todo*/

 }

 .delete-btn {
     background-color: #702727;

     color: white;

     border: none;

     width: 100px;
     height: 40px;

     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

     display: flex;

     justify-content: center;

     align-items: center;

     z-index: 1001;
     /*Para que el botón siempre quede encima de todo*/
 }

 .search-box {
     padding: 10px;
     border-radius: 5px;
     border: none;
     width: 180px;
 }

 .search-btn {
     background-color: #904327;

     color: white;

     border: none;

     width: 100px;
     height: 40px;

     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

     display: flex;

     justify-content: center;

     align-items: center;

     z-index: 1001;
     /*Para que el botón siempre quede encima de todo*/

 }

 .table-container {
  background-color: #2a2a2a;
  border-radius: 8px;
  overflow-x: auto;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; 
  border: 2px #EADDFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #f0f0f0;
  font-size: 16px;
  text-align: center; 
}

th,
td {
  padding: 14px 10px;
  border-bottom: 1px solid #444;
}

th {
  background-color: #3c3c3c;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}


 img {
     position: absolute;
     top: 20px;
     right: 20px;
     background-color: #ccc;
     border-radius: 50%;
     width: 50px;
     height: 50px;
 }

 .linkInicio {
     position: absolute;
     top: 35px;
     right: 90px;
     text-decoration: none;
     color: #EADDFF;
     font-size: 20px;
 }